Repository chrisbarrett/emacs-tart: changes, and which pre-commit hooks are due for each by the changed paths.
All: dune-build, dune-test, dune-fmt, elisp-byte-compile

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dune-build
        name: dune build
        entry: nix develop -c dune build
        language: system
        pass_filenames: false
        files: \.(ml|mli|mll|mly)$

      - id: dune-test
        name: dune test
        entry: nix develop -c dune test
        language: system
        pass_filenames: false
        files: \.(ml|mli|mll|mly)$

      - id: dune-fmt
        name: dune fmt
        entry: nix develop -c scripts/dune-fmt-hook.sh
        language: system
        pass_filenames: false
        files: \.(ml|mli)$

      - id: elisp-byte-compile
        name: elisp byte compile
        entry: >-
          rm lisp/**/*.elc &&
          nix develop -c emacs -Q --batch
          -L lisp/
          --eval "(setq byte-compile-error-on-warn t)"
          -f batch-byte-compile
        language: system
        pass_filenames: true
        files: ^lisp/.*\.el$

Delete elc files from prior byte compilation runs
  .pre-commit-config.yaml
Due: none

Push emacs byte compilation check down into lisp dir
  .pre-commit-config.yaml
  lisp/.pre-commit-config.yaml
Due: none

Use latest prek version
  .pre-commit-config.yaml
  flake.nix
  lisp/.pre-commit-config.yaml
  lisp/prek.toml
  prek.toml
Due: none

Disable byte-compilation for elisp test files
  lisp/tart-e2e-tests.el
  lisp/tart-mode-tests.el
  lisp/tart-test-helpers.el
  lisp/tart-tests.el
Due: elisp-byte-compile

Update prek to v0.3.2 and fix config for new version
  flake.nix
  lisp/prek.toml
  prek.toml
  specs/80-release-workflow.md
  test/fixtures/typing/core/clause_diag_no_match.expected
Due: none

Fix 4 failing elisp tests
  lisp/tart-mode-tests.el
  lisp/tart-mode.el
  lisp/tart-tests.el
Due: elisp-byte-compile

Add convenience alias for running tart built in this repo
  flake.nix
Due: none

Exclude .dir-locals.el from coverage scanning
  lib/coverage/emacs_coverage.ml
  lib/coverage/file_scanner.ml
  test/coverage/file_scanner_test.ml
Due: dune-build, dune-test, dune-fmt
