Repository chrisbarrett/emacs-tart: changes, and which pre-commit hooks are due for each by the changed paths.
All: dune-build, dune-test, dune-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dune-build
        name: dune build
        entry: nix develop -c dune build
        language: system
        pass_filenames: false
        files: \.(ml|mli|mll|mly)$

      - id: dune-test
        name: dune test
        entry: nix develop -c dune test
        language: system
        pass_filenames: false
        files: \.(ml|mli|mll|mly)$

      - id: dune-fmt
        name: dune fmt
        entry: nix develop -c scripts/dune-fmt-hook.sh
        language: system
        pass_filenames: false
        files: \.(ml|mli)$

Tighten alloc.tart signatures for finalizer and make-string
  lib/sig/prelude.ml
  typings/emacs/31.0/c-core/alloc.tart
  typings/tart-prelude.tart
Due: dune-build, dune-test, dune-fmt

Update BUGS.md for multi-clause dispatch resolutions
  typings/emacs/BUGS.md
Due: none

Remove completed implementation plan
  IMPLEMENTATION_PLAN.md
Due: none

Add implementation plan for Spec 76 Iteration 2
  IMPLEMENTATION_PLAN.md
Due: none

Tighten editfns.tart signatures for buffer comparison and translation
  typings/emacs/31.0/c-core/editfns.tart
Due: none

Tighten fileio.tart signatures for I/O and file operations
  test/sig/search_path_test.ml
  typings/emacs/31.0/c-core/fileio.tart
Due: dune-build, dune-test, dune-fmt

Tighten buffer.tart signatures with multi-clause dispatch
  typings/emacs/31.0/c-core/buffer.tart
Due: none

Tighten search.tart signatures for replace-match and newline-cache
  test/sig/search_path_test.ml
  typings/emacs/31.0/c-core/search.tart
Due: dune-build, dune-test, dune-fmt

Tighten subr.tart signatures with multi-clause dispatch
  IMPLEMENTATION_PLAN.md
  typings/emacs/31.0/lisp-core/subr.tart
Due: none

Tighten simple.tart signatures for prefix args and regions
  typings/emacs/31.0/lisp-core/simple.tart
Due: none

Add polymorphic type variables to seq.tart higher-order functions
  typings/emacs/31.0/lisp-core/seq.tart
Due: none

Add polymorphic type variables to cl-lib.tart signatures
  typings/emacs/31.0/lisp-core/cl-lib.tart
Due: none

Add implementation plan for Spec 76 Iteration 4
  IMPLEMENTATION_PLAN.md
Due: none

Validate seq.el and cl-lib.el, fix setcar/setcdr signatures
  test/fixtures/typing/regression/setcar-list-arg.el
  test/fixtures/typing/regression/setcar-list-arg.expected
  typings/emacs/31.0/c-core/data.tart
  typings/emacs/BUGS.md
Due: none

Validate subr.el and simple.el, fix signatures
  test/fixtures/typing/regression/aref-string-arg.el
  test/fixtures/typing/regression/aref-string-arg.expected
  typings/emacs/31.0/c-core/callint.tart
  typings/emacs/31.0/c-core/data.tart
  typings/emacs/31.0/c-core/window.tart
  typings/emacs/31.0/lisp-core/subr.tart
  typings/emacs/BUGS.md
Due: none

Validate files.el and startup.el, fix parser and signatures
  lib/syntax/lexer.mll
  test/fixtures/typing/regression/escaped-space-char.el
  test/fixtures/typing/regression/escaped-space-char.expected
  typings/emacs/31.0/c-core/frame.tart
  typings/emacs/BUGS.md
Due: dune-build, dune-test

Validate minibuffer.el and window.el, widen hook function signatures
  typings/emacs/31.0/lisp-core/subr.tart
  typings/emacs/BUGS.md
Due: none

Consolidate BUGS.md with validation status summary
  typings/emacs/BUGS.md
Due: none

Add implementation plan for Spec 80 release workflow
  IMPLEMENTATION_PLAN.md
Due: none

Replace tag-push trigger with workflow_dispatch and add preflight job
  .github/workflows/release.yml
Due: none

Add opam cache to release workflow test job
  .github/workflows/release.yml
Due: none

Add tag job to release workflow
  .github/workflows/release.yml
Due: none

Update build job to use dune instead of nix build
  .github/workflows/release.yml
Due: none

Add LLM-powered changelog and explicit release metadata
  .github/workflows/release.yml
Due: none

Remove completed Spec 80 implementation plan
  IMPLEMENTATION_PLAN.md
Due: none

Include dune-project in CI opam cache key
  .github/workflows/ci.yml
Due: none

Reformat infer.ml and remove stale doc comment
  lib/typing/infer.ml
Due: dune-build, dune-test, dune-fmt

Add pre-commit configuration for elisp byte compilation
  .pre-commit-config.yaml
Due: none

Update AGENTS.md
  AGENTS.md
Due: none

Tidy up pkgs references in flake.nix
  flake.nix
Due: none

Add defvar to fix compiler warnings
  lisp/tart-mode.el
Due: none

Add let-type and mutually recursive type specs
  specs/69-signature-files-modules.md
  specs/88-let-type.md
  specs/89-mutually-recursive-types.md
Due: none

Revise BUGS.md and add specs 81–87
  specs/81-nil-list-subtyping.md
  specs/82-special-form-parser-extensions.md
  specs/83-function-subtype-widening.md
  specs/84-heterogeneous-list-inference.md
  specs/85-condition-case-return-typing.md
  specs/86-record-type-constructor.md
  specs/87-bounded-quantification.md
  typings/emacs/31.0/BUGS.md
  typings/emacs/BUGS.md
Due: none

Add implementation plan for specs 81–89
  IMPLEMENTATION_PLAN.md
Due: none

Expand Spec 82 plan to macro expansion pre-pass design
  IMPLEMENTATION_PLAN.md
Due: none

Revise Spec 82 to use macro expansion pre-pass design
  specs/82-special-form-parser-extensions.md
Due: none

Implement macro expansion pre-pass for defining forms (Spec 82)
  IMPLEMENTATION_PLAN.md
  lib/interp/builtin.ml
  lib/interp/builtin.mli
  lib/sig/search_path.ml
  lib/sig/search_path.mli
  lib/typing/dune
  lib/typing/module_check.ml
  test/fixtures/typing/special-forms/binding-forms.el
  test/fixtures/typing/special-forms/binding-forms.expected
  test/fixtures/typing/special-forms/cl-defmethod.el
  test/fixtures/typing/special-forms/cl-defmethod.expected
  test/fixtures/typing/special-forms/declaration-only.el
  test/fixtures/typing/special-forms/declaration-only.expected
  test/fixtures/typing/special-forms/defcustom.el
  test/fixtures/typing/special-forms/defcustom.expected
  test/fixtures/typing/special-forms/define-minor-mode.el
  test/fixtures/typing/special-forms/define-minor-mode.expected
  test/fixtures/typing/special-forms/defsubst.el
  test/fixtures/typing/special-forms/defsubst.expected
  test/test_harness/fixture_test.ml
  typings/tart-macros.el
Due: dune-build, dune-test, dune-fmt

Add nil <: (list a) subtyping and broaden car/cdr (Spec 81)
  IMPLEMENTATION_PLAN.md
  lib/typing/unify.ml
  test/fixtures/typing/regression/car-any-fallback.el
  test/fixtures/typing/regression/car-any-fallback.expected
  test/fixtures/typing/regression/car-cdr-broadened.el
  test/fixtures/typing/regression/car-cdr-broadened.expected
  test/fixtures/typing/regression/nil-as-list.el
  test/fixtures/typing/regression/nil-as-list.expected
  typings/emacs/31.0/c-core/data.tart
Due: dune-build, dune-test, dune-fmt

Add implicit TForall instantiation in unifier (Spec 83)
  IMPLEMENTATION_PLAN.md
  lib/typing/unify.ml
  test/fixtures/typing/funcall/funcall-type-error.el
  test/fixtures/typing/regression/fn-subtype-widening.el
  test/fixtures/typing/regression/fn-subtype-widening.expected
Due: dune-build, dune-test, dune-fmt

Add condition-case return type inference (Spec 85)
  IMPLEMENTATION_PLAN.md
  lib/typing/infer.ml
  test/fixtures/typing/core/condition-case.el
  test/fixtures/typing/core/condition-case.expected
  typings/emacs/31.0/c-core/eval.tart
Due: dune-build, dune-test, dune-fmt
