Repository chrisbarrett/emacs-tart: changes, and which pre-commit hooks are due for each by the changed paths.
All: dune-build, dune-test, dune-fmt

dune-build:
  name: dune build
  entry: nix develop -c dune build
  language: system
  pass_filenames: false

dune-test:
  name: dune test
  entry: nix develop -c dune test
  language: system
  pass_filenames: false

dune-fmt:
  name: dune fmt
  entry: nix develop -c scripts/dune-fmt-hook.sh
  language: system
  pass_filenames: false

Add type mismatch fixtures for typing test harness
  test/fixtures/typing/errors/type-mismatch/.gitkeep
  test/fixtures/typing/errors/type-mismatch/function-arity.el
  test/fixtures/typing/errors/type-mismatch/function-arity.expected
  test/fixtures/typing/errors/type-mismatch/int-for-string.el
  test/fixtures/typing/errors/type-mismatch/int-for-string.expected
  test/fixtures/typing/errors/type-mismatch/list-for-atom.el
  test/fixtures/typing/errors/type-mismatch/list-for-atom.expected
  test/fixtures/typing/errors/type-mismatch/polymorphic.el
  test/fixtures/typing/errors/type-mismatch/polymorphic.expected
  test/fixtures/typing/errors/type-mismatch/string-for-int.el
  test/fixtures/typing/errors/type-mismatch/string-for-int.expected
  test/test_harness/fixture_test.ml
Due: dune-build, dune-test, dune-fmt

Add arity error fixtures for typing test harness
  test/fixtures/typing/errors/arity/optional-required.el
  test/fixtures/typing/errors/arity/too-few-args.el
  test/fixtures/typing/errors/arity/too-many-args.el
Due: none

Add expected files for arity error fixtures
  test/fixtures/typing/errors/arity/.gitkeep
  test/fixtures/typing/errors/arity/optional-required.expected
  test/fixtures/typing/errors/arity/too-few-args.expected
  test/fixtures/typing/errors/arity/too-many-args.expected
Due: none

Add Spec 34 for funcall and apply typing
  specs/34-funcall-apply-typing.md
Due: none

Add Phase 29 (Spec 34) to implementation plan
  IMPLEMENTATION_PLAN.md
Due: none

commit test fixtures etc
  bin/main.ml
  lib/typing/builtin_types.ml
  test/fixtures/typing/errors/unbound/.gitkeep
  test/fixtures/typing/errors/unbound/scoping.el
  test/fixtures/typing/errors/unbound/scoping.expected
  test/fixtures/typing/errors/unbound/typo.el
  test/fixtures/typing/errors/unbound/typo.expected
  test/fixtures/typing/errors/unbound/unbound-fn.el
  test/fixtures/typing/errors/unbound/unbound-fn.expected
  test/fixtures/typing/errors/unbound/unbound-var.el
  test/fixtures/typing/errors/unbound/unbound-var.expected
Due: dune-build, dune-test, dune-fmt

Add occurs-check error fixtures and fix core test fixtures
  test/fixtures/typing/core/predicates.el
  test/fixtures/typing/core/strings.el
  test/fixtures/typing/errors/occurs-check/.gitkeep
  test/fixtures/typing/errors/occurs-check/mutual-recursion.el
  test/fixtures/typing/errors/occurs-check/mutual-recursion.expected
  test/fixtures/typing/errors/occurs-check/self-reference.el
  test/fixtures/typing/errors/occurs-check/self-reference.expected
Due: none

Add kind-related error fixtures
  test/fixtures/typing/errors/kind/.gitkeep
  test/fixtures/typing/errors/kind/type-as-value.el
  test/fixtures/typing/errors/kind/type-as-value.expected
  test/fixtures/typing/errors/kind/value-as-type.el
  test/fixtures/typing/errors/kind/value-as-type.expected
  test/fixtures/typing/errors/kind/wrong-arity-tycon.el
  test/fixtures/typing/errors/kind/wrong-arity-tycon.expected
Due: none

Add exhaustiveness warning fixtures
  test/fixtures/typing/errors/exhaustiveness/.gitkeep
  test/fixtures/typing/errors/exhaustiveness/missing-case.el
  test/fixtures/typing/errors/exhaustiveness/missing-case.expected
  test/fixtures/typing/errors/exhaustiveness/missing-default.el
  test/fixtures/typing/errors/exhaustiveness/missing-default.expected
  test/fixtures/typing/errors/exhaustiveness/missing-nil.el
  test/fixtures/typing/errors/exhaustiveness/missing-nil.expected
Due: none

Add realistic user scenario fixtures
  test/fixtures/typing/errors/arity/hook-function.el
  test/fixtures/typing/errors/arity/hook-function.expected
  test/fixtures/typing/errors/type-mismatch/user-config.el
  test/fixtures/typing/errors/type-mismatch/user-config.expected
  test/fixtures/typing/errors/unbound/require-missing.el
  test/fixtures/typing/errors/unbound/require-missing.expected
Due: none

Mark Phase 0.7 (Typing Test Fixtures) complete
  IMPLEMENTATION_PLAN.md
Due: none

Add dual namespace support for Lisp-2 semantics
  lib/core/type_env.ml
  lib/core/type_env.mli
  lib/sig/sig_loader.ml
  lib/typing/check.ml
Due: dune-build, dune-test, dune-fmt

Add sharp-quote function lookup for Lisp-2 semantics
  lib/core/type_env.ml
  lib/core/type_env.mli
  lib/typing/infer.ml
  test/fixtures/typing/funcall/dual-namespace.el
  test/fixtures/typing/funcall/dual-namespace.expected
  test/fixtures/typing/funcall/sharp-quote-lambda.el
  test/fixtures/typing/funcall/sharp-quote-lambda.expected
  test/fixtures/typing/funcall/sharp-quote-undefined.el
  test/fixtures/typing/funcall/sharp-quote-undefined.expected
  test/fixtures/typing/funcall/sharp-quote.el
  test/fixtures/typing/funcall/sharp-quote.expected
Due: dune-build, dune-test, dune-fmt

Add typed funcall with proper type checking
  lib/typing/infer.ml
  test/fixtures/typing/funcall/funcall-lambda.el
  test/fixtures/typing/funcall/funcall-lambda.expected
  test/fixtures/typing/funcall/funcall-type-error.el
  test/fixtures/typing/funcall/funcall-type-error.expected
Due: dune-build, dune-test, dune-fmt

Add typed apply with rest-arg function support
  lib/typing/infer.ml
  test/fixtures/typing/funcall/apply-basic.el
  test/fixtures/typing/funcall/apply-basic.expected
  test/fixtures/typing/funcall/apply-type-error.el
  test/fixtures/typing/funcall/apply-type-error.expected
Due: dune-build, dune-test, dune-fmt

Use rich diagnostic format in CLI output
  bin/main.ml
  test/fixtures/typing/errors/type-mismatch/function-arity.expected
  test/fixtures/typing/errors/type-mismatch/int-for-string.expected
  test/fixtures/typing/errors/type-mismatch/list-for-atom.expected
  test/fixtures/typing/errors/type-mismatch/polymorphic.expected
  test/fixtures/typing/errors/type-mismatch/string-for-int.expected
Due: dune-build, dune-test, dune-fmt

Fix flaky module_check tests using isolated temp directories
  test/typing/module_check_test.ml
Due: dune-build, dune-test, dune-fmt

Format code with dune fmt
  bin/main.ml
  lib/typing/infer.ml
Due: dune-build, dune-test, dune-fmt

Update IMPLEMENTATION_PLAN.md checkboxes to reflect completed work
  IMPLEMENTATION_PLAN.md
Due: none

Clarify that validation work IS implementation work
  AGENTS.md
  IMPLEMENTATION_PLAN.md
Due: none

Extend lexer for compatibility with real Emacs Lisp files
  bin/main.ml
  lib/syntax/lexer.mll
  lib/syntax/parser.mly
Due: dune-build, dune-test, dune-fmt

Add specs 35-43 and update implementation plan
  IMPLEMENTATION_PLAN.md
  specs/35-structured-errors.md
  specs/36-cmdliner-cli.md
  specs/37-file-io-errors.md
  specs/38-ast-printer.md
  specs/39-emacs-reader-oracle.md
  specs/40-content-cache.md
  specs/41-emacs-corpus.md
  specs/42-roundtrip-harness.md
  specs/43-ci-version-matrix.md
Due: none

Add unified Error type for composable error handling
  lib/dune
  lib/error.ml
  lib/error.mli
  lib/tart.ml
Due: dune-build, dune-test, dune-fmt

Add to_string and to_json formatting to Error and Diagnostic
  lib/error.ml
  lib/error.mli
  lib/typing/diagnostic.ml
  lib/typing/diagnostic.mli
  lib/typing/dune
Due: dune-build, dune-test, dune-fmt

Add Error.Acc accumulator and report function
  lib/error.ml
  lib/error.mli
Due: dune-build, dune-test, dune-fmt

Add --format=json flag to check command and migrate CLI errors
  bin/main.ml
  lib/error.ml
  lib/error.mli
  lib/tart.mli
Due: dune-build, dune-test, dune-fmt

Rewrite CLI with Cmdliner for declarative argument parsing
  IMPLEMENTATION_PLAN.md
  bin/dune
  bin/main.ml
Due: dune-build, dune-test, dune-fmt

Add Emacs reader syntax for char-tables and records
  lib/syntax/lexer.mll
  lib/syntax/parser.mly
Due: dune-build, dune-test

Add structured file I/O error handling with suggestions
  bin/main.ml
  lib/dune
  lib/error.ml
  lib/error.mli
  lib/errors/dune
  lib/errors/file_error.ml
  lib/errors/file_error.mli
  lib/tart.ml
  lib/tart.mli
Due: dune-build, dune-test, dune-fmt

Mark Phase 32 items as complete in implementation plan
  IMPLEMENTATION_PLAN.md
Due: none

Add AST printer module for Sexp to valid Emacs Lisp
  IMPLEMENTATION_PLAN.md
  lib/syntax/print.ml
  lib/syntax/print.mli
  lib/syntax/syntax.ml
  lib/syntax/syntax.mli
  lib/tart.ml
  lib/tart.mli
Due: dune-build, dune-test, dune-fmt

Fix parsing of backslash-prefixed symbols and control-space
  lib/syntax/lexer.mll
Due: dune-build, dune-test

Update task summary with completion status
  IMPLEMENTATION_PLAN.md
Due: none

Add spec for timing and memory statistics
  specs/44-timing-stats.md
Due: none

Replace stdlib references with typings in spec 07
  specs/07-signature-files.md
Due: none

Add spec for Elm-style source excerpts in error messages
  specs/45-source-excerpts.md
Due: none

Consolidate @type macro into tart for namespace consistency
  lib/typing/diagnostic.ml
  lib/typing/infer.ml
  lisp/tart-tests.el
  lisp/tart.el
  specs/15-forall-inference.md
  specs/18-explicit-instantiation.md
  test/typing/check_test.ml
  test/typing/diagnostic_test.ml
  test/typing/infer_test.ml
Due: dune-build, dune-test, dune-fmt

Redesign explicit type instantiation to use named-only bindings
  specs/15-forall-inference.md
  specs/18-explicit-instantiation.md
Due: none

Add spec for truthiness-aware union semantics
  specs/13-error-reporting.md
  specs/46-truthiness-unions.md
Due: none

Replace ADT system with unions and row polymorphism
  specs/11-adt-system.md
Due: none

Path conditions:
  dune-build: any of: \.(ml|mli|mll|mly)$
  dune-test: any of: \.(ml|mli|mll|mly)$
  dune-fmt: any of: \.(ml|mli)$
