Repository chrisbarrett/emacs-tart: changes, and which pre-commit hooks are due for each by the changed paths.
All: dune-build, dune-test, dune-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dune-build
        name: dune build
        entry: nix develop -c dune build
        language: system
        pass_filenames: false
        files: \.(ml|mli|mll|mly)$

      - id: dune-test
        name: dune test
        entry: nix develop -c dune test
        language: system
        pass_filenames: false
        files: \.(ml|mli|mll|mly)$

      - id: dune-fmt
        name: dune fmt
        entry: nix develop -c scripts/dune-fmt-hook.sh
        language: system
        pass_filenames: false
        files: \.(ml|mli)$

Fix c-core tart files to use positional parameter syntax
  typings/emacs/31.0/c-core/alloc.tart
  typings/emacs/31.0/c-core/eval.tart
  typings/emacs/31.0/c-core/fns.tart
Due: none

Wire c-core signature loading into check command
  bin/main.ml
Due: dune-build, dune-test, dune-fmt

Add buffer.tart with 52 buffer management signatures
  typings/emacs/31.0/c-core/buffer.tart
Due: none

Add editfns.tart with 80 editing function signatures
  typings/emacs/31.0/c-core/editfns.tart
Due: none

Add window.tart with 98 window management signatures
  typings/emacs/31.0/c-core/window.tart
Due: none

Add frame.tart with 65 frame management signatures
  typings/emacs/31.0/c-core/frame.tart
Due: none

Add fileio.tart with 54 file I/O signatures
  lib/sig/sig_loader.ml
  lib/typing/kind_infer.ml
  test/sig/prelude_test.ml
  test/sig/search_path_test.ml
  test/sig/sig_loader_test.ml
  test/test_harness/fixture_test.ml
  test/typing/check_test.ml
  test/typing/generalize_test.ml
  test/typing/infer_test.ml
  test/typing/types_test.ml
  test/typing/unify_test.ml
  typings/emacs/31.0/c-core/fileio.tart
Due: dune-build, dune-test, dune-fmt

Add search.tart with 17 search and regexp signatures
  typings/emacs/31.0/c-core/search.tart
Due: none

Add process.tart with 64 subprocess management signatures
  typings/emacs/31.0/c-core/process.tart
Due: none

Add keyboard.tart with 37 input handling signatures
  typings/emacs/31.0/c-core/keyboard.tart
Due: none

Add keymap.tart with 29 keymap manipulation signatures
  typings/emacs/31.0/c-core/keymap.tart
Due: none

Add minibuf.tart with 22 minibuffer signatures
  typings/emacs/31.0/c-core/minibuf.tart
Due: none

Add textprop.tart with 20 text property signatures
  typings/emacs/31.0/c-core/textprop.tart
Due: none

Add print.tart with 11 output signatures
  typings/emacs/31.0/c-core/print.tart
Due: none

Update implementation plan with completed phases
  IMPLEMENTATION_PLAN.md
Due: none

Enforce bounded quantifier constraints at type alias expansion
  lib/sig/prelude.ml
  lib/sig/sig_loader.ml
  lib/sig/sig_loader.mli
  lib/typing/check.ml
  test/sig/prelude_test.ml
  test/typing/check_test.ml
Due: dune-build, dune-test, dune-fmt

Prevent shadowing of imported bindings (Spec 07 R17)
  lib/sig/sig_loader.ml
  lib/sig/sig_loader.mli
  test/sig/prelude_test.ml
Due: dune-build, dune-test, dune-fmt

Update implementation plan with Phase 2 complete
  IMPLEMENTATION_PLAN.md
Due: none

Fix c-core test expectations to match actual C source files
  lib/sig/sig_loader.ml
  test/sig/prelude_test.ml
  test/sig/search_path_test.ml
Due: dune-build, dune-test, dune-fmt

Surface signature parse and validation errors in LSP
  lib/lsp/server.ml
  lib/sig/search_path.ml
  lib/sig/search_path.mli
Due: dune-build, dune-test, dune-fmt

Document union subtyping bug and update milestone status
  BUGS.md
  IMPLEMENTATION_PLAN.md
Due: none

Implement asymmetric union subtyping for soundness
  BUGS.md
  lib/core/types.ml
  lib/core/types.mli
  lib/typing/unify.ml
Due: dune-build, dune-test, dune-fmt

Document nil literal gap and update milestone status
  BUGS.md
  IMPLEMENTATION_PLAN.md
Due: none

Recognize nil and t as special symbols
  BUGS.md
  lib/typing/infer.ml
Due: dune-build, dune-test, dune-fmt

Fix lexer for complex character literals
  lib/syntax/lexer.mll
Due: dune-build, dune-test

Document discipline for `any` type usage
  IMPLEMENTATION_PLAN.md
  specs/32-emacs-core-typings.md
  specs/34-funcall-apply-typing.md
  specs/48-prelude.md
Due: none

Remove hardcoded builtins in favor of c-core signatures
  lib/lsp/server.ml
  lib/typing/builtin_types.ml
  lib/typing/builtin_types.mli
  lib/typing/module_check.ml
  lib/typing/unify.ml
  test/lsp/dune
  test/lsp/form_cache_test.ml
  test/lsp/server_test.ml
  test/test_harness/dune
  test/test_harness/fixture_test.ml
  test/typing/check_test.ml
  test/typing/diagnostic_test.ml
  test/typing/dune
  test/typing/module_check_test.ml
  typings/emacs/31.0/c-core/alloc.tart
  typings/emacs/31.0/c-core/casefiddle.tart
  typings/emacs/31.0/c-core/data.tart
  typings/emacs/31.0/c-core/eval.tart
  typings/emacs/31.0/c-core/fns.tart
Due: dune-build, dune-test, dune-fmt

Add Phase 1.4: Prelude architecture refactor
  IMPLEMENTATION_PLAN.md
Due: none

Add Phase 2.4 for row polymorphism, rename Pair to Cons
  IMPLEMENTATION_PLAN.md
Due: none

Add Phase 2.5 for funcall/apply typing (Spec 34)
  IMPLEMENTATION_PLAN.md
Due: none

Implement intrinsic type naming with %tart-intrinsic% prefix
  lib/core/types.ml
  lib/core/types.mli
  lib/sig/prelude.ml
  lib/sig/sig_loader.ml
  lib/sig/sig_loader.mli
  lib/typing/check.ml
  lib/typing/diagnostic.ml
  lib/typing/module_check.ml
  test/lsp/server_test.ml
  test/sig/prelude_test.ml
  test/sig/search_path_test.ml
  test/sig/sig_loader_test.ml
  test/typing/check_test.ml
  test/typing/diagnostic_test.ml
  test/typing/generalize_test.ml
  test/typing/infer_test.ml
  test/typing/module_check_test.ml
  test/typing/types_test.ml
  test/typing/unify_test.ml
  typings/tart-prelude.tart
Due: dune-build, dune-test, dune-fmt

Fix length signatures to use precise union type
  IMPLEMENTATION_PLAN.md
  typings/emacs/31.0/c-core/fns.tart
Due: none

Mark Phase 1.2 Prelude as complete
  IMPLEMENTATION_PLAN.md
Due: none

Add consistent Type Definitions section across docs
  AGENTS.md
  IMPLEMENTATION_PLAN.md
  specs/07-signature-files.md
  specs/24-versioned-typings.md
  specs/32-emacs-core-typings.md
  specs/48-prelude.md
Due: none

Add prelude opaque types for core Emacs data structures
  lib/sig/prelude.ml
  lib/sig/prelude.mli
  lib/sig/search_path.ml
  lib/sig/sig_loader.ml
  lib/sig/sig_loader.mli
  test/sig/prelude_test.ml
  test/sig/sig_loader_test.ml
  typings/emacs/31.0/c-core/buffer.tart
  typings/tart-prelude.tart
Due: dune-build, dune-test, dune-fmt

Use opaque types in c-core signatures
  typings/emacs/31.0/c-core/editfns.tart
  typings/emacs/31.0/c-core/frame.tart
  typings/emacs/31.0/c-core/process.tart
  typings/emacs/31.0/c-core/window.tart
Due: none

Add lisp-core typings infrastructure
  bin/main.ml
  lib/sig/search_path.ml
  lib/sig/search_path.mli
  lib/typing/module_check.ml
  test/sig/search_path_test.ml
  typings/emacs/31.0/lisp-core/bytecomp.tart
  typings/emacs/31.0/lisp-core/custom.tart
  typings/emacs/31.0/lisp-core/subr.tart
  typings/emacs/31.0/lisp-core/timer.tart
Due: dune-build, dune-test, dune-fmt

Add cmds.tart type signatures for basic editing commands
  typings/emacs/31.0/c-core/cmds.tart
Due: none

Add callint.tart type signatures for interactive commands
  typings/emacs/31.0/c-core/callint.tart
Due: none

Remove completed phases from implementation plan
  IMPLEMENTATION_PLAN.md
Due: none
